.fondo {
  width: 100%;
  height: 100vh;

  background-image: url("../img/bg.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div .barril{
position:absolute;
top:480px;
right: 120px;
}

.barril2{
position:absolute;
top:500px;
left: 180px;
transform: rotate(135deg);
}

.dk{
position:absolute;
top:250px;
left: 200px;
animation-name: saltos;
animation-duration:10s;
animation-iteration-count:infinite;
}
.giroBarril{
  animation-name: rotarBarril;
  animation-duration: 3s;
  animation-iteration-count:infinite;
}
@keyframes rotarBarril {
  from{
    transform: rotate(-80deg);
  }
  to{
    transform: rotate(80deg);
  }
}
@keyframes saltos{
  0%{
    top: -95px;
    
  }
  30%{
    top: -95px;
    left:300px;
  }
  50%{
    top:250px;
  }
  70%{
    top:500px;
    left:800px;
}
  
  100%{
    top:490px;
  }
}